<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="com.epam.lab.spring.core.work.Client">
        <constructor-arg type="int" value="1"/>
        <constructor-arg type="java.lang.String" value="John Smith"/>
    </bean>

    <bean id="eventLogger" class="com.epam.lab.spring.core.work.ConsoleEventLogger" />

    <bean id="fileLogin" class="com.epam.lab.spring.core.work.FileEventLogger" init-method="init">
        <constructor-arg type="java.lang.String" value="d:/java/files/fileforspring.txt"/>
    </bean>

    <bean id="cacheFileLogger" class="com.epam.lab.spring.core.work.CacheFileEventLogger"
          init-method="init"
          destroy-method="destroy">
        <constructor-arg type="java.lang.String" value="d:/java/files/fileforspring.txt"/>
    </bean>

    <bean id="app" class="com.epam.lab.spring.core.work.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="fileLogin"/>
    </bean>

    <bean id="event" scope="prototype" class="com.epam.lab.spring.core.work.Event">
        <constructor-arg>
            <bean class="java.util.Date"></bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>



</beans>